<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/wheather.png">
    <link rel ="stylesheet" href="/css/styles.css">

</head>


<body>
    
    <div class="main-content">
    {{>header}}
      <img class= "portrait" src="/img/321.jpg">
</div>
</body>
{{>footer}}
</html>